<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kj.app">

    <uses-permission android:name="android.permission.INTERNET" />
    // 网络权限
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    // 查看网络状态权限 比如: 3G , 4G
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    // 读 写权限
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    // 读 写权限
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    // 浮动权限,悬浮窗权限
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.DHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/LoginFullScreen" />
        <activity android:name=".view.activity.MusicActivity" />
        <activity android:name=".view.activity.VideoActivity" />
        <activity android:name=".view.activity.MusicPlayActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".view.activity.IlikeActivity" />
        <activity android:name=".view.activity.HistoryActivity"></activity>
    </application>

</manifest>